body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 10px 0px;
    padding: 12px;
}

.isa_info, .lblInfo {
    color: #00529B;
    background-color: #BDE5F8;
}

.isa_success, .lblSuccess {
    color: #4F8A10;
    background-color: #DFF2BF;
}

.isa_warning, .lblWarning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.isa_error, .lblError {
    color: #D8000C;
    background-color: #FFD2D2;
}

    .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
        margin: 10px 22px;
        font-size: 2em;
        vertical-align: middle;
    }
