@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        @*<form asp-action="Index" method="post">*@
        <form asp-route-returnurl="@ViewBag.ReturnUrl" method="post">
            <label class="danger"> @ViewData["Message"]</label>
            <div class="form-group">
                <label for="email" class="control-label"></label>
                <input name="email" class="form-control" />
            </div>
            <div class="form-group">
                <label for="password" class="control-label"></label>
                <input name="password" class="form-control" type="password" />
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await
          Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}