@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <input class="form-control" type="text" id="datepicker">
        </div>
    </div>
</div>
<div id="pilotList" style="display:none;">
    <input class="form-control" id="searchName" type="text" placeholder="Search pilot by name." />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Pilot</th>
                <th>Pilot Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="staffList"></tbody>
    </table>
</div>